.flexContainer
  display: flex
  gap: 10px
  align-items: center
  justify-content: center

.flexItem_wrap
    display: flex
    gap: 10px   
.item
    display: flex
    flex-direction: column
    gap: 10px

.item2
    display: flex
    flex-direction: column
    gap: 10px
.flexItem1
    width: 220px
    height: 350px
    background: red
    border-radius: 15px

.flexItem2
  height: 170px
  width: 220px
  background: blue
  border-radius: 15px


.flexItem3
    height: 140px
    width: 213px
    background: blue
    border-radius: 15px

.flexItem4
    height: 140px
    width: 213px
    background: blue
    border-radius: 15px

.flexItem5
    height: 140px
    width: 213px
    background: blue
    border-radius: 15px
