.select
  display: flex
  flex-direction: column
  &--title
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &--search
    display: flex
    align-items: center
    gap: 1.25rem
    > div
      display: flex
      gap: 1.25rem
      align-items: center
  &--input
    display: flex
    align-items: center
    gap: .3125rem
    input[type="date"]
      position: relative
    input[type="date"]::-webkit-calendar-picker-indicator
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: auto
      height: auto
      color: transparent
      background: transparent
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-clear-button
      z-index: 1
